In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np

In [2]:
## open the file containing flairNER annotation in the NH
#flairNER_NH = pd.read_csv("/Users/u0154817/OneDrive - KU Leuven/Documents/KU Leuven/PhD project 'Greek Spaces in Roman Times'/Data_Extraction/Outputs/flair_NH.csv", delimiter = ',')
flairNER_NH = pd.read_csv("data/intermediate/flair_NH.csv", delimiter = ',')

In [3]:
flairNER_NH['topostext_id'] = '-'

In [4]:
flairNER_NH

        Unnamed: 0 reference  index  token  start_pos flair_ner topostext_id
0                0       0.1      0  Pliny          0         O            -
1                1       0.1      1    the          6         O            -
2                2       0.1      2  Elder         10         O            -
3                3       0.1      3      ,         15         O            -
4                4       0.1      4    The         17         O            -
...            ...       ...    ...    ...        ...       ...          ...
801493      801493   37.78.1    275      .       1358         O            -
801494      801494   37.78.1    276    SOL       1360         O            -
801495      801495         E      0    THE          0         O            -
801496      801496         E      1    END          4         O            -
801497      801497         E      2      .          7         O            -

[801498 rows x 7 columns]

In [5]:
## open the file containing ToposText annotation in the NH
ToposText_NH = pd.read_csv("data/intermediate/topostext_places_NH.csv", delimiter=",")

In [6]:
ToposText_NH

     reference tagged_entity  start_pos topostext_id
0        1.8.1       Academy        316   380237SAca
1        2.5.1      Palatine       1073   419125LPal
2        2.5.1     Esquiline       1185   419125LEsq
3        2.5.1       Capitol       3657   419125SCap
4        2.6.3          Rome        552   419125PRom
...        ...           ...        ...          ...
8890   37.77.1         Italy        318   406163RIta
8891   37.77.1         Italy       1522   406163RIta
8892   37.77.1         India       1571   300740RInd
8893   37.78.1     Commagene        989   380387RCom
8894   37.78.1          Rome       1289   419125PRom

[8895 rows x 4 columns]

In [7]:
#this is horribly slow takes about 8 seconds per iteration: 
# do_print = False
# total_items = len(ToposText_NH['tagged_entity'])
# for i1, topostext in tqdm(enumerate(ToposText_NH['tagged_entity']), total=total_items):
    
#     if do_print:
#         print(i1,topostext)
    
#     reference_topostext = ToposText_NH['reference'][i1]
#     startpos_topostext = ToposText_NH['start_pos'][i1]
#     topostext_id = ToposText_NH['topostext_id'][i1]
        
#     for i2,flairNER in enumerate(flairNER_NH['token']):
        
#         if flairNER_NH['reference'][i2] == reference_topostext:
#             if flairNER_NH['start_pos'][i2] == startpos_topostext:
                
#                 if 'LOC' in flairNER_NH['flair_ner'][i2]: ## the entity was annotated by flairNER
#                     #flairNER_NH['topostext_id'][i2] = topostext_id ## add the ToposText ID results in chainedAssignmentError. patch below:
#                     flairNER_NH.loc[i2, 'topostext_id'] = topostext_id ## add the ToposText ID
#                     if do_print:
#                         print(i2, flairNER_NH['reference'][i2], flairNER_NH['start_pos'][i2], flairNER_NH['flair_ner'][i2], flairNER_NH['topostext_id'][i2])
                    
#                 else : 
                    
#                     topostext = str(topostext)
#                     topostext = topostext.split() ## split the ToposText annotation into tokens
                    
#                     if len(topostext) == 1: ## it consists of a single token
                        
#                         flairNER_NH.loc[i2, 'flair_ner'] = 'B-LOC'
#                         flairNER_NH.loc[i2,'topostext_id'] = topostext_id
#                         if do_print:
#                             print(i2, flairNER_NH['reference'][i2], flairNER_NH['start_pos'][i2], flairNER_NH['flair_ner'][i2], flairNER_NH['topostext_id'][i2])
                    
#                     else :
                        
#                         flag = False
                        
#                         for i3, token in enumerate(topostext):
                            
#                             if i3 > 0:
                                
#                                 if flairNER_NH['flair_ner'][i2+i3] == 'B-LOC':
                                    
#                                     flag = True ## the entity is annotated inside
#                                     flairNER_NH.loc[i2+i3, 'topostext_id'] = topostext_id
#                                     if do_print:
#                                         print(i2+i3, flairNER_NH['reference'][i2+i3], flairNER_NH['start_pos'][i2+i3], flairNER_NH['flair_ner'][i2+i3], flairNER_NH['topostext_id'][i2+i3])
                                    
#                         if flag == False:
                            
#                             flairNER_NH.loc[i2, 'flair_ner'] = 'B-LOC'
#                             flairNER_NH.loc[i2, 'topostext_id'] = topostext_id
#                             if do_print:
#                                 print(i2, flairNER_NH['reference'][i2], flairNER_NH['start_pos'][i2], flairNER_NH['flair_ner'][i2], flairNER_NH['topostext_id'][i2])

In [8]:
#refactored version of code above.
do_print = False

# Convert DataFrame columns to numpy arrays for faster access
reference_topostext_arr = np.array(ToposText_NH['reference'])
startpos_topostext_arr = np.array(ToposText_NH['start_pos'])
topostext_id_arr = np.array(ToposText_NH['topostext_id'])
tagged_entity_arr = np.array(ToposText_NH['tagged_entity'])

reference_flairNER_arr = np.array(flairNER_NH['reference'])
startpos_flairNER_arr = np.array(flairNER_NH['start_pos'])
flair_ner_arr = np.array(flairNER_NH['flair_ner'])
token_arr = np.array(flairNER_NH['token'])

# Ensure topostext_id column exists in flairNER_NH DataFrame
if 'topostext_id' not in flairNER_NH.columns:
    flairNER_NH['topostext_id'] = np.nan

topostext_id_flairNER_arr = np.array(flairNER_NH['topostext_id'])

total_items = len(tagged_entity_arr)
for i1, topostext in tqdm(enumerate(tagged_entity_arr), total=total_items):
    
    if do_print:
        print(i1, topostext)
    
    reference_topostext = reference_topostext_arr[i1]
    startpos_topostext = startpos_topostext_arr[i1]
    topostext_id = topostext_id_arr[i1]
    
    # Create a mask for rows where references and start positions match
    mask = (reference_flairNER_arr == reference_topostext) & (startpos_flairNER_arr == startpos_topostext)
    
    # Get the indices of matching rows
    matching_indices = np.where(mask)[0]
    
    for i2 in matching_indices:
        
        if 'LOC' in flair_ner_arr[i2]:  # The entity was annotated by flairNER
            flairNER_NH.loc[i2, 'topostext_id'] = topostext_id  # Add the ToposText ID
            if do_print:
                print(i2, reference_flairNER_arr[i2], startpos_flairNER_arr[i2], flair_ner_arr[i2], flairNER_NH.loc[i2, 'topostext_id'])
        
        else:
            topostext_tokens = str(topostext).split()  # Split the ToposText annotation into tokens
            
            if len(topostext_tokens) == 1:  # It consists of a single token
                flairNER_NH.loc[i2, 'flair_ner'] = 'B-LOC'
                flairNER_NH.loc[i2, 'topostext_id'] = topostext_id
                if do_print:
                    print(i2, reference_flairNER_arr[i2], startpos_flairNER_arr[i2], flair_ner_arr[i2], flairNER_NH.loc[i2, 'topostext_id'])
            else:
                flag = False
                
                for i3, token in enumerate(topostext_tokens):
                    if i3 > 0 and i2 + i3 < len(flair_ner_arr):
                        if flair_ner_arr[i2 + i3] == 'B-LOC':
                            flag = True  # The entity is annotated inside
                            flairNER_NH.loc[i2 + i3, 'topostext_id'] = topostext_id
                            if do_print:
                                print(i2 + i3, reference_flairNER_arr[i2 + i3], startpos_flairNER_arr[i2 + i3], flair_ner_arr[i2 + i3], flairNER_NH.loc[i2 + i3, 'topostext_id'])
                
                if not flag:
                    flairNER_NH.loc[i2, 'flair_ner'] = 'B-LOC'
                    flairNER_NH.loc[i2, 'topostext_id'] = topostext_id
                    if do_print:
                        print(i2, reference_flairNER_arr[i2], startpos_flairNER_arr[i2], flair_ner_arr[i2], flairNER_NH.loc[i2, 'topostext_id'])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 8895/8895 [03:42<00:00, 39.91it/s]

In [9]:
flairNER_NH

        Unnamed: 0 reference  index  token  start_pos flair_ner topostext_id
0                0       0.1      0  Pliny          0         O            -
1                1       0.1      1    the          6         O            -
2                2       0.1      2  Elder         10         O            -
3                3       0.1      3      ,         15         O            -
4                4       0.1      4    The         17         O            -
...            ...       ...    ...    ...        ...       ...          ...
801493      801493   37.78.1    275      .       1358         O            -
801494      801494   37.78.1    276    SOL       1360         O            -
801495      801495         E      0    THE          0         O            -
801496      801496         E      1    END          4         O            -
801497      801497         E      2      .          7         O            -

[801498 rows x 7 columns]

In [10]:
flairNER_NH.drop_duplicates(keep='first', inplace=True, ignore_index=True)

In [12]:
flairNER_NH['reference'] = flairNER_NH['reference'].astype(str)
flairNER_NH.to_csv('data/intermediate/flairToposText_NH.csv', index=False)